body {
    margin-top: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Times New Roman", "Times", serif;
    font-weight: normal;
}

p {
    font-family: sans-serif;
    line-height: 1.3;
}

p.signame {
    font-weight: bold;
}

p.signame span.affil {
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
}

ul.errorlist { 
    list-style: none;
}

ul.errorlist li { 
    color: red; 
}
