{% extends "petitions/layout.html" %}
{% load i18n %}

{% block title %}{% trans "Thank you!" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="small-12 column">
            <h1>{% trans "Thank you!" %}</h1>

            {% if confirmlink %}
                <p>{% blocktrans %}
                E-mail failed to send, please confirm your signature by clicking this link: 
                {% endblocktrans %}
                <strong><a href="{{ confirmlink }}">{% trans "Confirm" %}</a></strong></p>
            {% else %}
                <p>{% trans "An e-mail with a confirmation link has been sent to your e-mail address to confirm your signature." %}</p>

                <p>{% trans "If you don't get a confirmation e-mail, please check your spam folder." %}</p>
            {% endif %}

            <p>
                <a href="https://twitter.com/share" 
                   class="twitter-share-button"
                   data-size="large" 
                   data-text="I signed this @couragewl open letter to Trump against the prosecution of #WikiLeaks - will you?"
                   data-url="https://iamwikileaks.org/openletter" 
                   data-dnt="true"
                   data-show-count="false">Tweet you signed!</a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </p>

            <p><a href="/openletter">{% trans "Back to the petition" %}</a></p>
        </div>
    </div>
{% endblock %}
